# TeleCloud Configuration
# Optional: Set Web App Access Credentials (Leave empty or customize)
APP_USERNAME="admin"
APP_PASSWORD="telecloudpassword123"

# Optional: Default Telegram API ID & Hash (Users can also input directly in the UI)
TELEGRAM_API_ID=""
TELEGRAM_API_HASH=""

# Security key for session signing
SESSION_SECRET="telecloud-super-secret-key-2026"

# Port (Defaults to 3000)
PORT=3000
